*{
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.clearfixed{
    clear: both;
    float: none;
}

#container-index{
    width: 100%;
    height: 100vh;
    margin: 0% auto;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0,0,0,0.6), rgba(0,0,0,0.2), rgba(0,0,0,0.6), rgba(0, 0, 0, 0.9)),url('../imagenes/Netflix-Background.jpg');
}

#container{
    width: 100%;
    height: 1160px;
    margin: 0% auto;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../imagenes/Netflix-Background.jpg');
}

#header{
    width: 100%;
    height: 80px;
    margin-bottom: 11px;
}

#login{
    display: block;
    float: right;
    width: 140px;
    height: 30px;
    margin-right: 4%;
    margin-top: 30px;
    padding-top: 12px;
    border-radius: 5px;
    background-color: #e50914;
}

#login a{
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
}

#section-index{
    width: 42%;
    margin: 0 auto;
    margin-top: 150px;
    color: white;
    text-align: center;
}

#section-index h2{
    font-size: 62px;
}

#disfruta{
    margin-top: 25px;
    font-size: 27px;
}

#ingresa{
    margin-top: 30px;
    font-family: Arial;
    font-size: 18px;
    margin-bottom: 17px;
}

#new-user label{
    position: absolute;
    z-index: 9;
    margin-top: 25px;
    margin-left: 15px;
    color: #777;
    transition: all 300ms;
}

#new-user input{
    width: 60%;
    height: 48px;
    padding-left: 15px;
    padding-top: 14px;
    border-radius: 0;
    color: #777;
    font-size: 16px;
    transition: all 500ms;
}

#new-user input:focus{
    padding-top: -20px;
    font-size: 14px;
    border: #0080ff 1px solid;
}

/* Falta alinear botón con input */
#new-user button{
    width: 230px;
    height: 66px;
    padding-top: 4px;
    background-color: #e50914;
    border: none;
    color: white;
    font-size: 30px;
}

#logo{
    display: block;
    float: left;
}

#logo img{
    margin-top: -36px;  /*-35px*/
    width: 169px;  /*165px*/
    height: 164px;  /*165px*/
    margin-left: 26%;  /*25%*/
}


/* log */
#log-in{
    display: block;
    width: 314px;
    height: 660px;
    margin: 0px auto;
    padding-top: 60px;
    padding-left: 68px;
    padding-right: 68px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 6px;
}

#log-in h2{
    font-size: 32px;
    color: white;
    margin-bottom: 28px;
}

#log-in #form input[type="e-mail"],
#log-in #form input[type="password"]{
    width: 294px;
    height: 50px;
    margin-bottom: 16.3px;
    padding-left: 20px;
    background-color: #333;
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 16px;
}

#log-in #form label{
    display: block;
    position: absolute;
    color: #888;
}

#log-in #form label[for="e-mail"],
#log-in #form label[for="password"]{
    margin-top: -50px;
    padding-left: 20px;
}

#log-in #form button{
    width: 314px;
    height: 48px;
    margin-top: 24px;
    margin-bottom: 10px;
    background-color: #e50914;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

#log-in #form input[type="checkbox"]{
    margin-top: 5px;
    margin-left: 1px;
}

#log-in #form label[for=remember]{
    float: left;
    /* position: unset; */
    padding-left: 20px;
    margin-top: -16.8px;
    font-size: 13px;
    color: #b3b3b3;
}

#log-in #form span{
    float: right;
    margin-top: 4px;
    font-size: 13px;
}

#log-in #form span a{
    color: #b3b3b3;
    text-decoration: none;
}

#log-in ul{
    color: #777;
    margin-top: 42px;
    font-size: 13.2px;
    list-style: none;
}

#log-in ul .social-webs img{
    width: 20px;
    height: 20px;
}

#log-in ul .social-webs a{
    position: absolute;
    margin-top: 1.2px;
    margin-left: 10.2px;
}

#log-in p{
    color: #777;
}

#log-in #subscribe{
    margin-top: 12px;
}

#log-in #subscribe a{
    text-decoration: none;
    color: white;
}

#log-in #recaptcha,
#log-in #more-info{
    font-size: 13px;
    margin-top: 13px;
}

#dsply-mi{
    background: transparent;
    color: #0080ff;
    text-decoration: underline;
    border: none;
    cursor: pointer;
}

#log-in #more-info a{
    text-decoration: none;
    color: #0080ff;
}


/* FAQ */
#faq{
    color: white;
}

/* footer */
#footer{
    width: 100%;
    height: 260px;
    margin: 0px auto;
    margin-top: 90px;
    background-color:rgba(0, 0, 0, 0.8);
    color: #777;
}

.wrap{
    margin: 0 18%;
}